*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-xhdpi/
app/src/main/res/drawable-xxxhdpi/
common/libs/
common/src/main/res/drawable/
