<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice">

    <!-- 写文件的权限,默认包含读的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".systemview.listview.divider.ListViewDividerActivity" />
        <activity android:name=".systemview.listview.ListViewMainActivity" />
        <activity android:name=".systemview.recyclerview.RecyclerViewMainActivity" />
        <activity android:name=".systemview.recyclerview.decoration.other.DecorationActivity" />
        <activity android:name=".systemview.recyclerview.grouping.RecyclerViewGroupingActivity" />
        <activity android:name=".systemview.recyclerview.tradecommon.activity.TradeCommonActivity" />
        <activity android:name=".systemview.textview.spannablestring.SpannableStringMainActivity" />
        <activity android:name=".systemview.textview.TextViewMainActivity" />
        <activity android:name=".systemview.expandablelistview.ExpandableListViewMainActivity" />
        <activity android:name=".systemview.expandablelistview.type.ExpandableListViewTypeActivity" />
        <activity android:name=".customview.CustomMainActivity" />
        <activity android:name=".customview.linearlayoutcompat.LinearLayoutCompatMainActivity" />
        <activity android:name=".designpattern.refresh.RefreshMainActivity" />
        <activity android:name=".designpattern.refresh.frame.RefresFrameActivity" />
        <activity android:name=".designpattern.DesignPatternMainActivity" />
        <activity android:name=".systemview.dialog.DialogMainActivity" />
        <activity android:name=".systemview.dialog.system.PickerActivity" />
        <activity android:name=".systemview.dialog.system.SystemDialogActivity" />
        <activity android:name=".systemview.dialog.custom.CustomDialogActivity" />
        <activity android:name=".systemview.viewpage.ViewPageMainActivity" />
        <activity android:name=".systemview.viewpage.indicator.ViewPageIndicatorMainActivity" />
        <activity android:name=".customview.attribute.CustomAttributeMainActivity" />
        <activity
            android:name=".systemview.viewpage.tablayout.TabLayoutMainActivity"
            android:theme="@android:style/Theme.Black" />
        <activity android:name=".dependencies.lottie.LottieMainActivity" />
        <activity android:name=".dependencies.lottie.SplashActivity" />
        <activity android:name=".systemview.popupwindow.PopupWindowMainActivity" />
        <activity android:name=".systemview.popupwindow.system.SystemPopupWindowActivity" />
        <activity android:name=".systemview.popupwindow.custom.CustomPopupWindowMainActivity" />
        <activity android:name=".customview.detail.DetailMainActivity" />
        <activity android:name=".systemview.SystemViewMainActivity" />
        <activity android:name=".dependencies.DependenciesMainActivity" />
        <activity android:name=".systemview.spinner.SpinnerMainActivity" />
        <activity android:name=".customview.picker.PickerMainActivity" />
        <activity android:name=".other.OtherMainActivity" />
        <activity android:name=".other.loadconfig.LoadConfigMainActivity" />
        <activity android:name=".systemview.recyclerview.tradelist.TradeListMainActivity" />
        <activity android:name=".other.bezier.BezierMainActivity" />
        <activity android:name=".dependencies.wheelview.WheelviewMainActivity" />
        <activity android:name=".systemview.listview.empty.EmptyMainActivity" />
        <activity android:name=".systemview.recyclerview.edit.RecyclerEditActivity" />
        <activity android:name=".systemview.recyclerview.market.MarketActivity" />
        <activity android:name=".dependencies.xrecyclerview.XRecyclerViewActivity" />
        <activity android:name=".systemview.textview.marquee.MarqueeMainActivity" />
        <activity android:name=".customview.custom.CustomActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".other.changetextsize.ChangeTextSizeActivity" />
        <activity android:name=".dependencies.gson.GsonMainActivity" />
        <activity android:name=".other.readfile.ReadFileMainActivity" />
        <activity android:name=".other.databinding.DataBindingMainActivity" />
        <activity android:name=".other.databinding.recyclerview.MVVMOfRecyclerViewActivity" />
        <activity android:name=".other.databinding.twoway.TwoWayActivity" />
        <activity android:name=".other.databinding.expressionchain.ExpressionChainActivity" />
        <activity android:name=".other.databinding.lambda.LambdaActivity" />
        <activity android:name=".other.databinding.animation.AnimationActivity" />
        <activity android:name=".other.databinding.customattributes.CustomAttributesActivity" />
        <activity android:name=".dependencies.annotations.AnnotationsActivity" />
        <activity android:name=".dependencies.rxjava.RxJavaMainActivity" />
        <activity android:name=".customview.calendar.CalendarActivity"></activity>
    </application>

</manifest>