<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.system">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".listview.divider.ListViewDividerActivity" />
        <activity android:name=".listview.ListViewMainActivity" />
        <activity android:name=".recyclerview.RecyclerViewMainActivity" />
        <activity android:name=".recyclerview.decoration.other.DecorationActivity" />
        <activity android:name=".recyclerview.grouping.RecyclerViewGroupingActivity" />
        <activity android:name=".recyclerview.tradecommon.activity.TradeCommonActivity" />
        <activity android:name=".textview.spannablestring.SpannableStringMainActivity" />
        <activity android:name=".textview.TextViewMainActivity" />
        <activity android:name=".expandablelistview.ExpandableListViewMainActivity" />
        <activity android:name=".expandablelistview.type.ExpandableListViewTypeActivity" />
        <activity android:name=".dialog.DialogMainActivity" />
        <activity android:name=".dialog.system.PickerActivity" />
        <activity android:name=".dialog.system.SystemDialogActivity" />
        <activity android:name=".dialog.custom.CustomDialogActivity" />
        <activity android:name=".viewpage.ViewPageMainActivity" />
        <activity android:name=".viewpage.tablayout.TabLayoutMainActivity" />
        <activity android:name=".popupwindow.PopupWindowMainActivity" />
        <activity android:name=".popupwindow.system.SystemPopupWindowActivity" />
        <activity android:name=".popupwindow.custom.CustomPopupWindowMainActivity" />
        <activity android:name=".SystemViewMainActivity" />
        <activity android:name=".spinner.SpinnerMainActivity" />
        <activity android:name=".recyclerview.tradelist.TradeListMainActivity" />
        <activity android:name=".listview.empty.EmptyMainActivity" />
        <activity android:name=".recyclerview.edit.RecyclerEditActivity" />
        <activity android:name=".recyclerview.market.MarketActivity" />
        <activity android:name=".textview.marquee.MarqueeMainActivity" />
        <activity android:name=".recyclerview.drag.DragRecyclerViewActivity" />
        <activity android:name=".recyclerview.pinedview.PinnedHeaderActivity" />
        <activity android:name=".fragment.FragmentMainActivity" />
        <activity android:name=".view.web.WebViewActivity" />
        <activity android:name=".textview.copy.LongCopyActivity"></activity>
    </application>

</manifest>